// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito'); // Variables
@import 'variables'; // Bootstrap
@import '~bootstrap/scss/bootstrap';

.header {
    height: 90px;
    img {
        margin-top: 0px;
        max-height: 70px;
    }
    .nav-item > .nav-link {
            color: #1b3c59;
    }
    .nav-item {
        margin-right: 50px;

    }
    .btn-iscriviti {
        line-height: 0px;
        color: white;
        max-height: 40px;
        background: #61ce4e;
        margin: 0 0 0 40px;
        padding: 20px 30px;
        border-radius: 5px;
        text-transform: uppercase;
    }
}
.jumbo_content,.left {
    width: 50%;
}
.jumbo_content,.right {
    width: 50%;
    img{
        max-width: 90%;
    }
}
.jumbo_cnt {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.jumbo-title {
    font-size: 58.5px;
    line-height: 1.1;
    font-weight: 300;
    color: #1b3c59;
}
.jumbo_content left.jumbo-title,h1 strong {
    font-size: 58.5px;
    display: block;
    font-weight: 700;
}
.subtitle{
        font-size: 22px;
        color: #1b3c59;
}
.no-p-left,.paragraph {
    color: #1b3c59;
}
footer{
    background: #1b3c59;
    > hr {
        border-color: white;
        margin-left: 245px;
        width: 73%;
    }
    .fleft{
        margin-left: 230px;
        text-align: left;
    }
    img {
        margin-top: 80px;
        width: 200px;
    }
    .footer_head_left_numbers p {
        margin-bottom: 0px;
        color: White;
    }
    .list-unstyled li a{
        color: white;
    }
    .fright {
        margin-right: 60px;
        margin-top: 80px;
        font-size: 20px;
        text-align: right;
        }

        .footer_bottom_icons a i{
            color: white;
            margin: 30px 20px;
            font-size: 35px;
        }
    .footer-copyright {
        color: white;
        font-size: 15px;
    }
}
